// Variables

// Main Scales
$website-width: 1280px;
$main-font-size:62.50%;
$medium-font-size:1.8rem;
$larg-font-size:2rem;

//Main Colors
$primary-color:#fff;
$main-color:#ffbc00;
$light-color:#f4f4f4;
$medium-color:#ccc;
$dark-color:#333;

//Main Fonts
$primary-font: 'Dosis', sans-serif;
$secondary-font:'Merriweather Sans', sans-serif;

$bg-image:url('../img/showcase.jpg');