
// Import files
@import 'config';


//-------[ General Core Styles ]-------//
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: $main-font-size;
}

body{
    background: $light-color;
    font-family: $primary-font;
    line-height: 1.6;
    font-size: $medium-font-size;
}

// Links 
a{
    text-decoration: none;
    color: $dark-color;
}

// Lists
ul{
    list-style: none;
}

// Headings
h2, h3, h4 {
    text-transform: uppercase;
}

// Images
img{
    width: 100%;
}

// Header
#header{
    
    // Home content
    &-home{
        background:$bg-image no-repeat center right / cover;
        height: 100vh;
        color: #fff;
    }

    // Inner content
    &-inner{

    }
}